.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@font-face {
  font-family: "Vazir";
  src: url(./fonts/Vazir-Light-FD-WOL.ttf);
  }
body{
  font-family: "Vazir";
}
.MuiTypography-body2 {
  font-family: "Vazir" !important;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.ignore--click--outside, .tether-target input, .MuiToolbar-regular >* input{
  text-align: center !important;
  font-family: "Vazir" !important;
}
.MuiCardHeader-subheader{
  font-family: "Vazir" !important;
}
.MuiTypography-h5{
  font-size: 20px !important;
}
.tether-element{
  z-index: 2;
}
.tether-element, .tether-element-attached-top, .tether-element-attached-center, .tether-target-attached-bottom, .tether-target-attached-center, .tether-enabled{
 
  transform: none !important;
  direction: rtl;
  float: right;
  right: 0 !important;
  left: unset !important;
  top: 70px !important;
}

.leaflet-popup-content-wrapper{
  text-align: center !important;
}
.leaflet, .leaflet-popup {
  text-align: center !important;
  font-family: 'Vazir';
  opacity: 1;
  transform: translate3d(799px, 367px, 0px);
    bottom: -7px;
    left: -90px;
    position: absolute;
    text-align: center;
    margin-bottom: 58px !important;
  /* opacity: 1;
    transform: translate3d(349px, 152px, 0px);
    bottom: -7px;
    left: -46px;
    position: absolute;
    text-align: center;
    margin-bottom: 58px !important */
}
.myLeaflet{
  width: 190px !important;
}
.myLeaflet1{
  width: 234px !important;
}
.leaflet-popup-content{
  line-height: 28px !important;
  width: 79px !important;
  text-align: left;
}
.MuiCardHeader-title{
  line-height: 28px;
}
.calendarContainer{
  width: 241px !important;
}
.leaflet-marker-icon{
  margin-top: -38px !important
}
.monitoringButton{
  position: absolute !important;
  right: 15px !important;
  color: white !important;
}
.monitoringButton button{
  color: white !important;
  font-family: 'Vazir' !important;
  font-size: 16px;
}
.leaflet-bottom{
  left: unset !important;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.leaflet-popup-content p {
    margin: unset !important;
}
.MuiFormControlLabel-label{
  font-family: 'Vazir' !important;
}