.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@font-face {
  font-family: "Vazir";
  src: url(./fonts/Vazir-Light-FD-WOL.ttf);
  }
body{
  font-family: "Vazir";
}
.MuiTypography-body2 {
  font-family: "Vazir" !important;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.ignore--click--outside, .tether-target input, .MuiToolbar-regular >* input{
  text-align: center !important;
  font-family: "Vazir" !important;
}
.MuiCardHeader-subheader{
  font-family: "Vazir" !important;
}
.MuiTypography-h5{
  font-size: 20px !important;
}
.tether-element{
  transform: translateX(1335.53px) translateY(50px) translateZ(0px) !important;
}
.MuiCardHeader-title{
  line-height: 28px;
}
.calendarContainer{
  width: 241px !important;
  right:0
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
